@import "tailwindcss";

@theme {
  --color-primary-bg: #101726;
  --color-bg-white: #ffffff;
  --color-primary-clr: #f59e0b;
  --color-text-white: #ffffff;
  --color-text-dark: #121a28;
  --color-navbar-bg: #0f172a;
}

body {
  background-color: var(--color-primary-bg);
}
